<body>
  <div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Analytics Section </div>
      <div class="list-group list-group-flush">
        <a routerLink="/" class="list-group-item list-group-item-action bg-light">Dashboard</a>
        <a routerLink="/realtime/overview" class="list-group-item list-group-item-action bg-light">Real time</a>
        <a routerLink="/realtime/events" class="list-group-item list-group-item-action bg-light">Events</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Events</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4 col-md-4 col-lg-4 shadow-lg p-3 mb-5 bg-white rounded">
            <google-chart #chart
               [title]="title"
               [type]="type"
               [data]="data"
               [columnNames]="columnNames"
               [options]="options"
               [width]="width"
               [height]="height">
            </google-chart>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4 front-dashboard shadow-lg p-3 mb-5 bg-white rounded">
            <div class="front-dashboard">Active Users Right now</div>
            <google-chart #chart
               [title]="coulumn_title"
               [type]="coulumn_type"
               [data]="coulumn_data"
               [columnNames]="coulumn_columnNames"
               [options]="coulumn_options"
               [width]="width"
               [height]="height">
            </google-chart>
              <div>Top active pages</div>
              <table class="table">
                <thead>
                  <tr>
                    <th>Url</th>
                    <th>Number of views</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>/Google+Redes...Mens+T+Shirts</td>
                    <td>7888</td>
                  </tr>
                  <tr>
                    <td>/Google+Redesign/Accessories</td>
                    <td>1000</td>
                  </tr>
                  <tr>
                    <td>/Google+Redes...Mens+T+Shirts</td>
                    <td>77777</td>
                  </tr>
                </tbody>
              </table>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4 shadow-lg p-3 mb-5 bg-white rounded">
            <google-chart #chart
               [title]="bar_title"
               [type]="bar_type"
               [data]="bar_data"
               [columnNames]="bar_columnNames"
               [options]="options"
               [width]="width"
               [height]="height">
            </google-chart>
          </div>
        </div>
        <div class="row shadow-lg p-3 mb-5 bg-white rounded">
          <div class="col-sm-4 col-lg-4 col-md-4">
            <google-chart #chart
                [title]="stacked_title"
                [type]="stacked_type"
                [data]="stacked_data"
                [columnNames]="stacked_columnNames"
                [options]="stacked_options"
                width="500"
                height="500">
            </google-chart>
          </div>
          <div class="col-sm-8 col-lg-8 col-md-8">
              <google-chart [data]="myData" type="GeoChart" [columnNames]="myColumnNames" [options]="myOptions" width="900" height="500"></google-chart>
          </div>
        </div>
        <div class="row">
          <div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded">
            <div class="row">
              <div class="col-sm-4 col-lg-4 col-md-4">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Url</th>
                      <th>Number of views</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>/Google+Redes...Mens+T+Shirts</td>
                      <td>7888</td>
                    </tr>
                    <tr>
                      <td>/Google+Redesign/Accessories</td>
                      <td>1000</td>
                    </tr>
                    <tr>
                      <td>/Google+Redes...Mens+T+Shirts</td>
                      <td>77777</td>
                    </tr>
                    <tr>
                      <td>/Google+Redes...Mens+T+Shirts</td>
                      <td>77777</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-sm-4 col-lg-4 col-md-4">
                <google-chart #chart
                   [title]="line_title"
                   [type]="line_type"
                   [data]="line_data"
                   [columnNames]="line_columnNames"
                   [options]="line_options"
                   [width]="width"
                   [height]="height">
                </google-chart>
              </div>
              <div class="col-sm-4 col-lg-4 col-md-4">
                <google-chart #chart
                   [title]="round_title"
                   [type]="round_type"
                   [data]="round_data"
                   [columnNames]="round_columnNames"
                   [options]="round_options"
                   [width]="width"
                   [height]="height">
                </google-chart>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>
